<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body ng-app="myApp" ng-controller="myCntr" ng-init="specPage=true;itemAdder=false">
    <div class="container" ng-show="specPage">
        <h4>Enter the Product Item to search item 
            <span>
                <input type="text" ng-model="searchPid">
            </span>
        </h4>
        <table class="table table-striped itemList">
            <thead>
                <tr>
                    <th>Product ID</th>
                    <th>Item Name</th>
                    <th>Add Technical Specification</th>
                    <th>Remove Item</th>
                </tr>
            </thead>
            <tr ng-repeat="item in itemsList | filter:{_id:searchPid}">
                <td>{{item._id}}</td>
                <td>{{item.name}}</td>
                <td>
                    <button ng-click="goToAddSpec(item);">
                        <span class="	glyphicon glyphicon-plus" style="color:green;"></span>
                    </button>
                </td>
                <td>
                    <button ng-click="removeProduct(item)">
                        <span style="color: red;" class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                </td>
            </tr>
            <tr ng-if="itemsList.length==0">
                <td colspan="4" style="text-align: center">
                    <b>No items to display</b>
                </td>
            </tr>
        </table>
        <button ng-click="itemAdder=true" class="btn-md btn-success">New*</button>
        <div ng-show="itemAdder">
            <hr>
            <div>
                <button ng-click="itemAdder=false" style="border:none;">
                    <span class="glyphicon glyphicon-remove" style="color:red;"></span>
                </button>
            </div>
            <br>
            <table>
                <tr>
                    <td>
                        <b>Product ID  </b>
                    </td>
                    <td>
                        <input type="text" ng-model="newItemPid">
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Name  </b>
                    </td>
                    <td>
                        <input type="text" ng-model="newItemName">
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Price  </b>
                    </td>
                    <td>
                        <input type="text" ng-model="newItemPrice">
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Choose Image File</b>
                    </td>
                    <td>
                        <input type="file" file-input="files" accept=".jpg,.jpeg,.png" multiple>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:center;">
                        <button ng-click="addNewItemToDb()">AddNew</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div ng-hide="specPage" class="container">
        <h3>Product ID  : {{selectedItem._id}}</h3>
        <h3>Item Name : {{selectedItem.name}}</h3>
        <p>Click on add to add Properties</p>
        <table ng-if="selectedItem.techSpec.length" class="table table-striped">
            <thead>
                <tr>
                    <th>Property</th>
                    <th>Value</th>
                    <th style="float:right;">Remove</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in selectedItem.techSpec">
                    <td>{{x.att }}</td>
                    <td>{{x.value}}</td>
                    <td style="float:right;cursor:pointer; color: red" class="glyphicon glyphicon-remove-circle" ng-click="removeProductList($index)"></td>
                </tr>
            </tbody>
        </table>
        <h3>Add New</h3>
        <table class="editorTable">
            <tr>
                <td>
                    <b>Property</b>
                </td>
                <td>
                    <input type="text" ng-model="newProperty">
                </td>
            </tr>
            <tr>
                <td>
                    <b>Value</b>
                </td>
                <td>
                    <input type="text" ng-model="newValue">
                </td>
            </tr>
        </table>
        <hr>
        <button class="btn-md btn-danger" ng-click="specPage =true">GoBack</button>
        <br>
        <br>
        <button class="btn-md btn-primary" ng-click="addNewSpec()">ADD</button>
        <button class="btn-md btn-success" ng-click="doneAdding()">Commit changes</button>
    </div>
    <script>
        function product(pid, name, price, img, techSpec) {
            this._id = pid;
            this.name = name;
            this.price = price;
            this.img = img;
            this.techSpec = techSpec;
        }
        var app = angular.module("myApp", []);
        app.controller("myCntr", function ($scope, $http) {
            $http.get("http://192.168.10.32:3000/init").then(function (response) {
                $scope.itemsList = response.data;
            });
            $scope.goToAddSpec = function (x) {
                $scope.selectedItem = x;
                $scope.specPage = false;
            }
            $scope.addNewSpec = function () {
                if ($scope.newProperty == null || $scope.newValue == null) {
                    alert("enter some value");
                    return;
                }
                var temp = {
                    att: $scope.newProperty,
                    value: $scope.newValue
                };
                $scope.newProperty = null;
                $scope.newValue = null;
                $scope.selectedItem.techSpec.push(temp);
            }
            $scope.addNewItemToDb = function () {
                if ($scope.newItemPid == null || $scope.newItemName==null || $scope.newItemPrice==null) {
                    alert("Required Fields are missing");
                    return;
                }
                if(!($scope.files)){
                    alert("choose a image file");
                    return;
                }

                var image = null;
                var fd = new FormData();
                if ($scope.files) {
                    image=$scope.files.name;
                } 
                for (var i = 0; i < $scope.itemsList.length; i++) {
                    if ($scope.newItemPid == $scope.itemsList[i]._id) {
                        //console.log(imageList);
                        alert("Pid already Exists please re-enter");
                        return;
                    }
                }
                var newItem = new product($scope.newItemPid,$scope.newItemName,$scope.newItemPrice,image,[]);
                fd.append('file',$scope.files);
                fd.append('_id',$scope.newItemPid);
                fd.append('name',$scope.newItemName);
                fd.append('price',$scope.newItemPrice);
                $http.post("http://192.168.10.32:3000/createNew", fd,{
                    transformRequest: angular.identity,
                    headers: { 'Content-Type': undefined }
                }).then(function (response) {
                    if (response.data == true) {
                        alert("Inserted");
                        $scope.itemAdder = false;
                        $scope.itemsList.push(newItem);
                        $scope.newItemPid = null; $scope.newItemName = null; $scope.newItemPrice = null;
                    }
                });
            }
            $scope.doneAdding = function () {
                $http.post("http://192.168.10.32:3000/updateTechSpec", $scope.selectedItem).then(function (response) {
                    if (response.data == true) {
                        $scope.specPage = true;
                    }
                });
            }
            $scope.removeProduct = function (item) {
                var temp = $scope.itemsList.indexOf(item);
                $http.post("http://192.168.10.32:3000/DeleteProduct", item).then(function (response) {
                    if (response.data == true) {
                        $scope.itemsList.splice(temp, 1);
                    }
                });
            };
            $scope.removeProductList = function (idx) {
                var newItemList = { _id: $scope.selectedItem._id, att: $scope.selectedItem.techSpec[idx].att };
                console.log(newItemList);
                $http.post("http://192.168.10.32:3000/DeleteProductList", newItemList).then(function (response) {
                    if (response.data == true) {
                        $scope.selectedItem.techSpec.splice(idx, 1);
                    }
                });
            };
        });
        app.directive("fileInput", ['$parse', function ($parse) {
            return {
                restrict: 'A',
                link: function (scope, elm, attrs) {
                    elm.bind('change', function (parse) {
                        $parse(attrs.fileInput).assign(scope, elm[0].files[0]);
                        scope.$apply();
                    })
                }
            }
        }]);
    </script>
</body>

</html>