.editorTable{
    width:30%;
    height:10vh;
}
.editorTable tr td{
    text-align:center;
}
.availItem li{
    margin-top:1vh;
}
body{
    background-color:rgb(224, 235, 132);
}
.itemList tr td{
    text-align:center;
}
.itemList tr th{
    text-align: center;
}