<div class="container">
        <nav class="navbar color navbar-inverse  navbar-fixed-top">
        <div class="container">
        <button type="button" class="navbar-toggle"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        >
        <span class="sr-only"> Toggle navigation</span>
        <span class="icon-bar"> </span>
        <span class="icon-bar"> </span>
        <span class="icon-bar"> </span>
        </button>
        
         <a class="navbar-brand colorWhite" href="#!homePage"> Home</a>
         
             <div class="navbar-collapse collapse">
                 <ul class="nav navbar-nav navbar-right">
                   <li> <a href="#!goToCart">GoToCart</a> </li>
                      <li class="dropdown">
                         <a href="" class="dropdown-toggle"
                          data-toggle="dropdown">Your Account
                          <b class="caret"> </b>
                           <ul class="dropdown-menu">
                             <li><a href="#!orderdetailpage">Your Order</a> </li>
                             <li><a href="#!addressPage"> Your Address</a> </li>
                           </ul>
                     </li>
                     <li class=""><a href="#!">Logout</a> </li>
                 </ul>
             </div>
        </div>
      </nav>
    </div>
    <br>
    <br>
    <br>
<div class="container">
    <div>
        <h1>Your Order</h1>
        <br>
        <hr>
        <div ng-repeat="items in orderDetail | orderBy:'-date'">
            <div class="panel panel-default">
                <div class="panel-heading headingDiv">
                    <div class="yourOrder">
                        <span>
                            <b>Order Date</b>
                        </span>
                        <p> {{items.date}}</p>
                    </div>
                    <div>
                        <span>
                            <b>Total</b>
                        </span>

                        <p class="totalPrice">{{items.price*items.quantity}}</p>
                    </div>
                    <div>
                        <span>
                            <b>Ship To</b>
                        </span>

                        <p>{{items.address}}</p>
                    </div>
                    <div style="float:right">
                        <span>
                            <b>OrderID # </b>
                        </span>
                        <p>{{items._id}}</p>
                    </div>

                </div>
                <div class="panel-body orderViewer">

                    <img class="orderDetailsImg" ng-src="{{'./server/controllers/uploads/'+items.imageUrl}}" alt="image">
                    <div>
                        <h4>{{items.name}}</h4>
                    </div>
                    <div>
                        <span>
                            <b>Price</b>
                        </span>
                        <p>
                            {{items.price}}
                        </p>
                    </div>
                    <div>
                        <span>
                            <b>Quantity</b>
                        </span>
                        <p>
                            {{items.quantity}}
                            
                        </p>
                        <p ng-if="items.gift"><b>This Item will be packed in gift</b></p>
                    </div>
                    <ol class="progtrckr" data-progtrckr-steps="6">
                        <li ng-class="{progtrckrDone : items.status>=0&&items.status<4, progtrckrTodo :items.status <0,progtrckrCancel :items.status==4 }">Order Placed</li>
                        <li ng-class="{progtrckrDone : items.status>=1&&items.status<4, progtrckrTodo :items.status <1,progtrckrCancel :items.status==4  }">Item Packed</li>
                        <li ng-class="{progtrckrDone : items.status>=2&&items.status<4,progtrckrTodo :items.status <2 ,progtrckrCancel :items.status==4 }">Shipped</li>
                        <li ng-class="{progtrckrDone : items.status>=3&&items.status<4,progtrckrTodo :items.status <3 ,progtrckrCancel :items.status==4 }">Delivered</li>
                    </ol>
                    <!--button class="btn btn-success" ng-click="orderDetailAddressChange();">Change Address</button-->
          <button class="btn btn-danger changeAddressOrder" ng-disabled="{{items.status>=2}}" ng-confirm-click="Are you sure you want to cancel this item" confirmed-click="orderDetailCancelOrder($index)">Cancel Product</button>
             
          
          <!-- Trigger the modal with a button -->
        <button type="button" class="btn btn-success changeAddressOrder " data-toggle="modal"  ng-disabled="{{items.status>=2}}" ng-click=" orderDetailAddressChange($index);" data-target="#myModal">Change Address</button>
        
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <div class="modal-header NewAddress">
                        <h4>
                            <b>Choose a shipping Address</b>
                        </h4>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 pad" ng-repeat="Address in AddressArray">
                            <div class="well">
                                    <!--button type="button" class="glyphicon glyphicon-remove RemoveButton" ng-click="DeleteAddress($index)"></button-->
                                <ul class="add">
                                    <li>{{Address.Name}}</li>
                                    <li>{{Address.Email}}</li>
                                    <li>{{Address.Address}}</li>
                                    <li>{{Address.City}}</li>
                                    <li>{{Address.State}}</li>
                                    <li>{{Address.ZIPcode}}</li>
                                    <li>{{Address.Country}}</li>

                                </ul>
                                <button type="button" class=" btn btn-sm btn-info defaultAdd" data-dismiss="modal" ng-click="orderAddressDelivery($index)">Deliver to this Addres</button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-success" data-dismiss="modal">close</button>
                    </div>
                </div>
            </div>


        </div>

    </div>
    
</div> 
        
        </div>

            </div>


        </div>
    </div>
</div>