<div class="container" ng-hide="FormData">
    <div class="well PadWellDefualt">
        <ul class="add">
            <li>Name:-{{AddressObjectDefault.Name}}</li>
            <li>Number:-{{AddressObjectDefault.PhoneNumber}}</li>
            <li>Address:-{{AddressObjectDefault.Address}}</li>
            <li>City:-{{AddressObjectDefault.City}}</li>
            <li>State:-{{AddressObjectDefault.State}}</li>
            <li>ZIPCode:-{{AddressObjectDefault.ZIPcode}}</li>
            <li>Country:-{{AddressObjectDefault.Country}}</li>

        </ul>
        <!-- Trigger the modal with a button -->
        <button type="button" class="btn btn-info btn-sm PadWellDefaultButton" data-toggle="modal" data-target="#myModal">Change Address</button>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <div class="modal-header NewAddress">
                        <h4>
                            <b>Choose a shipping Address</b>
                        </h4>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 pad" ng-repeat="Address in AddressArray">
                            <div class="well">
                                    <button type="button" class="glyphicon glyphicon-remove RemoveButton" ng-click="DeleteAddress($index)"></button>
                                <ul class="add">
                                    <li>{{Address.Name}}</li>
                                    <li>{{Address.Email}}</li>
                                    <li>{{Address.Address}}</li>
                                    <li>{{Address.City}}</li>
                                    <li>{{Address.State}}</li>
                                    <li>{{Address.ZIPcode}}</li>
                                    <li>{{Address.Country}}</li>

                                </ul>
                                <button type="button" class=" btn btn-sm btn-info defaultAdd" ng-click="DefaultAddress($index)">Deliver to this Addres</button>
                            </div>
                        </div>

                        <div class="col-sm-3 padNew">

                            <div class="well">
                                <div class="modal-head NewAddress">
                                    <b>New Address</b>
                                </div>
                                <ul class="add">
                                    <li>
                                        <h1 class="glyphicon glyphicon-plus glyphi" data-dismiss="modal" ng-click="FormData=true"></h1>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-success" data-dismiss="modal">close</button>
                    </div>
                </div>
            </div>


        </div>

    </div>
    
</div>
<!-- Address form when you click add new -->
<div ng-show="FormData">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form class="form-horizontal" role="form">
                <fieldset>

                    <!-- Form Name -->
                    <legend class="AddressDet">
                        <b>Address Details</b>
                    </legend>
                    <!-- Full name-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="textinput">Name</label>
                        <div class="col-sm-10">
                            <input type="text" placeholder=" Full Name" class="form-control" ng-model="CustomerName">
                        </div>
                    </div>
                    <!-- PhoneNumber-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="textinput">Mobile Number</label>
                        <div class="col-sm-10">
                            <input type="text" placeholder=" Enter Mobile Number" class="form-control" ng-model="CustomerNumber">
                        </div>
                    </div>
                    <!-- Address 1-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="textinput">Address</label>
                        <div class="col-sm-10">
                            <input type="text" placeholder="Address " class="form-control" ng-model="CustomerAddress1">
                        </div>
                    </div>

                    
                    <!-- City-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="textinput">City</label>
                        <div class="col-sm-10">
                            <input type="text" placeholder="City" class="form-control" ng-model="CustomerCity">
                        </div>
                    </div>

                    <!-- State and  Postcode-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="textinput">State</label>
                        <div class="col-sm-4">
                            <input type="text" placeholder="State" class="form-control" ng-model="CustomerState">
                        </div>

                        <label class="col-sm-2 control-label" for="textinput">ZIPcode</label>
                        <div class="col-sm-4">
                            <input type="text" placeholder=" ZIP Code" class="form-control" ng-model="CustomerPostcode">
                        </div>
                    </div>



                    <!-- Country-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="textinput">Country</label>
                        <div class="col-sm-10">
                            <input type="text" placeholder="Country" class="form-control" ng-model="CustomerCountry">
                        </div>
                    </div>
                    <!-- Save and Cancel button-->
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="pull-right">
                                <button type="submit" class="btn btn-default" ng-click="FormData=false">Cancel</button>
                                <button type="submit" class="btn btn-primary" ng-click="AddressSave()">Save</button>
                            </div>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

</div>
<a href="#!diffAdd">Different Addresses</a>