<div class="container">
        <nav class="navbar color navbar-inverse  navbar-fixed-top">
        <div class="container">
        <button type="button" class="navbar-toggle"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        >
        <span class="sr-only"> Toggle navigation</span>
        <span class="icon-bar"> </span>
        <span class="icon-bar"> </span>
        <span class="icon-bar"> </span>
        </button>
        
         <a class="navbar-brand" href="#!homePage"> Home</a>
         
             <div class="navbar-collapse collapse">
                 <ul class="nav navbar-nav navbar-right">
                   <li> <a href="#!goToCart">GoToCart</a> </li>
                      <li class="dropdown">
                         <a href="" class="dropdown-toggle"
                          data-toggle="dropdown">Your Account
                          <b class="caret"> </b>
                           <ul class="dropdown-menu">
                             <li><a href="#!orderdetailpage">Your Order</a> </li>
                             <li><a href="#!addressPage"> Your Address</a> </li>
                           </ul>
                     </li>
                     <li class=""><a href="#!">Logout</a> </li>
                 </ul>
             </div>
        </div>
      </nav>
    </div>
    <br>
    <br>
    <br>
<div class="container">
    <div>
        <h1>Shopping Cart</h1>        
        <br>    
        
        <hr>
        <div ng-if="Cartob.length==0" style="text-align:center"><h3><b>No item in Cart</b></h3></div>     
        <div ng-repeat="items in Cartob" class="itemViewer">
           
            <img ng-src="{{'../routes/productMaster/uploads/'+items.img}}" alt="image">
            <div>
                <h4>{{items.name}}</h4>
                <button class="btn btn-danger" ng-click="removeItemFromCart(items)">Delete</button>
            </div>
            <p class="itemPrice"><b>{{items.price}}</b></p>
            <select ng-model="items.quantity" ng-options="item for item in quantityRange"></select>
            <p class="totalPrice">{{items.price*items.quantity}}</p>
            <span></span>
            <button class="	glyphicon glyphicon-gift itemGift" ng-click="giftButton($index)"ng-confirm-click="Are you sure you want to pack this Item as gift" confirmed-click="giftButton($index)"></button>
            <hr>
        </div>
        <!--h3>Total Amount</h3>
        <h3>{{totalSum}}</h3-->
    </div>
</div>
<div class="container">
    <a style="float:right;" href="#!add"><button class="btn btn-success" ng-disabled="Cartob==0">Checkout</button></a>
</div>
