.add {
    list-style: none;
    font-family: cursive;
    
}
.PadWellDefualt{
    padding: 0px 0px 0px 0px;
    width: 250px;
    height: auto;
    margin:2px;
    word-wrap: break-word;
    border:1px;   
    text-decoration-color: black; 
}
.PadWellDefaultButton{
    
    float: right;
    margin: 5px;
}

ul.li {

    text-align: left;
}
.RemoveButton{
    float: right;
    color: red;
    
}
.setDefaultgly{
    
    color:rgba(255, 0, 43, 0.747);
}
.setNotDefault{
    color:rgb(51, 43, 43);
}

.pad {
    padding: 0px 0px 0px 0px;
    margin: 2%;
    overflow:hidden; 
    width: 260px;
    height: auto;
    

}
.glyphi{
    color: grey;
   font-size: 45px;      
}
.padNew{
    padding:13px 0px 0px 0px;
    width:150px;
    height: auto;
}
.NewAddress{
    text-align: center;
    color: rgb(87, 87, 173);
    border: 1pc;
}
.defaultAdd{
    position: fixed;
    bottom: auto;
  /*  background-color: rgb(172, 169, 169);*/
    text-decoration-color: black;   
}
.AddressDet{
    text-align: center;
    color: rgb(87, 87, 173);
}

.itemViewer img {
    display: inline-block;
    vertical-align: middle;
    max-width:100%;
    height:150px;
}

.itemViewer div {
    display: inline-block;
    width: 300px;
    height: 200px;
    vertical-align: middle;
    margin-left: 30px;
}

.itemViewer div button {
    float: left;
    position: relative;
    top: 50%;
}

.itemViewer .itemPrice {
    display: inline-block;
    margin-left: 30px;
}
.itemviewer .itemGift{
    color: rgb(33, 230, 66);
    margin-left: 40px;
}

.itemViewer .totalPrice {
    float: right;
    display: inline-block;
    padding-right: 30px;
}

.itemViewer select {
    margin-left: 30px;
    width: 150px;
}

.placeOrderButtonContainer button{
    float:right;}

/*  style for show cart*/
.showCartTable {
    padding-left: 47px !important
}



/*Style for the  home page*/
.myOrderButton{
    padding: 2px 2px 2px 2px;       
}
.myOrderButton div{
    float:left ;
    margin-left:20px;
}
.myOrderButton a{
    float:left;
    margin-left:20px;
}
.itemContainer{
    background-color:white;
    width:200px;
    margin-left:20px;
    float:left;
    display:inline-block;
    text-align: center;
    border: 1px solid black;
    height:300px;
    margin-top:20px;
    transition: transform .3s;
}
.itemContainer:hover{
    background-color:white;
    transform: scale(1.1); 
}

/*---------end----------------*/

/*
    Style for product description page
*/

.item-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-size: cover;
    border-right: 1px solid #f6f6f6;
}


/*--------------end------------*/
/*Style for productMaster page*/
.editorTable{
    width:30%;
    height:10vh;
}
.editorTable tr td{
    text-align:center;
}
.availItem li{
    margin-top:1vh;
}
/*body{
    background-color:rgb(224, 235, 132);
}*/
.itemList tr td{
    text-align:center;
}
.itemList tr th{
    text-align: center;
}
/*----------------end----------*/

/*
    style for index page
*/
.innerContainer{
   float:left;
    display:flex;
    margin-left:40px;
    min-height:20vh;
    width:200px;
}
.innerContainerButton{
    height:5vh;
    color:greenyellow;
}
/*Style for logistic page*/

.logistic_ItemViewer img{
    display: inline-block;
    vertical-align: middle;
    max-width:100%;
    height:150px;   
}
/* orderDetails style */
.orderDetailsImg{
    max-width: 150px;
    height: 150px;

}
.headingDiv{
    height: 70px;
}
.headingDiv div{
float:left;
display: block;
margin-left:20px;
padding: 0px 20px 0px 20px;

}
.orderId {
    float:right;
}
.orderViewer img {
    display: inline-block;
    vertical-align: middle;
    max-width:100%;
    height:150px;
}
.orderViewer div{
    display: inline-block;
    width: 300px;
    height: 200px;
    vertical-align: middle;
    margin-left: 30px;
    padding-top:30px;

}
.changeAddressOrder{
    margin: 2px;
}
.orderViewer button{
    float: right;
}
/* Progress bar style */

ol.progtrckr {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ol.progtrckr li {
    display: inline-block;
    text-align: center;
    line-height: 3em;
}

ol.progtrckr[data-progtrckr-steps="2"] li { width: 49%; }
ol.progtrckr[data-progtrckr-steps="3"] li { width: 33%; }
ol.progtrckr[data-progtrckr-steps="4"] li { width: 24%; }
ol.progtrckr[data-progtrckr-steps="5"] li { width: 19%; }
ol.progtrckr[data-progtrckr-steps="6"] li { width: 16%; }
ol.progtrckr[data-progtrckr-steps="7"] li { width: 14%; }
ol.progtrckr[data-progtrckr-steps="8"] li { width: 12%; }
ol.progtrckr[data-progtrckr-steps="9"] li { width: 11%; }

ol.progtrckr li.progtrckrDone {
    color: black;
    border-bottom: 4px solid yellowgreen;
}
ol.progtrckr li.progtrckrCancel {
    color: silver; 
    border-bottom: 4px solid rgb(255, 0, 0);
}
ol.progtrckr li.progtrckrTodo {
    color: silver; 
    border-bottom: 4px solid silver;
}

ol.progtrckr li:after {
    content: "\00a0\00a0";
}
ol.progtrckr li:before {
    position: relative;
    content: "\2715";
    bottom: -2.5em;
    float: left;
    left: 50%;
    line-height: 1em;
}
ol.progtrckr li.progtrckrDone:before {
    content: "\2713";
    color: white;
    background-color: yellowgreen;
    height: 1.2em;
    width: 1.2em;
    line-height: 1.2em;
    border: none;
    border-radius: 1.2em;
}
ol.progtrckr li.progtrckrTodo:before {
    content: "\039F";
    color: silver;
    background-color: white;
    font-size: 1.5em;
    bottom: -1.6em;
}


/*----------------end----------*/
.deliverdClass{
    background-color:greenyellow;
}

.logistic_radioDecorator input{
    margin-left:30px;
}
.cancelledClass{
    background-color:red;
}
/* addressPage.html style sheet*/
.addressViewer .addressBlock {
    height: 30vh;
    border-style: solid;
    border-width: thin;
    margin-top: 10px;
    word-wrap:break-word;
    overflow-y: hidden;


}

.addressViewer {
    align-items: center;
}

.addressViewer ul {
    list-style-type: none;
}

.buttonHolder .makeDefault {
    float: left;
}

.buttonHolder .removeAddress {
    float: right;
}

.addressBlock {
    padding-top:10px;
    padding-right:5px;
    padding-left:5px;
    
}

.addNew {
    border-style: dashed;
    text-align: center;
    height: 30vh;
    border-width: thin;
    margin-top: 10px;
    overflow-y: hidden;

}
.addNew div{
    margin-top:8vh;
}
.addNew div p{
    font-size:20px;
    color: gainsboro;
}
.drop-shadow {
    padding-top:10px;
    padding-right:5px;
    padding-left:5px;
    -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
    border-radius:5px;

}
/* abhishek home page */
.topnav ul {
	border-bottom: 1px solid #B71C1C;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ce1e42;
    max-height: 76px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
.color {
  background-color: #ce1e42;
  border-bottom: 1px solid #B71C1C;

}

.topnav ul li {
	float: right;
}

.topnav ul li a {
	font-size: 16px;
    display: inline-block;
    color:white;
    text-align: center;
    padding: 23px 20px;
    text-decoration: none;
    transition: 0.3s;
}
/*nav-bar*/

.span-logo img {
	display: inline-block;
	vertical-align: top;
	height: 75px;
	min-height: 75px;
	width: 75px;
	min-width: 75px;
	float: left;
    /*nav-bar*/
	padding: 0px;
}

.span-logo p {
	font-size: 16px;
	text-decoration: none;
	color: #f2f2f2;
	float: left;
	padding: 15px 0px;
}
/*nav-bar*/

.topnav ul li a:hover {background-color: #560909;}

.topnav ul li.icon {display: none;}

.navbar-inverse .navbar-nav>li>a{
    color:white !important
}
.navbar-inverse {
    background-color:#ce1e42 !important;
    border-color:#ce1e42 !important
}
@media screen and (max-width:680px) {
  .topnav ul li:not(:first-child) {display: none;}
  .topnav ul li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  .topnav.responsive ul {position: relative;}
  .topnav.responsive ul li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive ul li {
    float: none;
    display: inline;
  }
  .topnav.responsive ul li a {
    display: block;
    text-align: left;
  }
}

.fancy-monk {
	font-size: 25px;
	color: #EFEBE9;
	margin: 0px;
	text-align: center;
	height: 600px;
	min-height: 400px;
	background-image: url("./images/background1.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: rgba(0, 0, 0, 0.5px);
}
.fancy-monk h1 {
	font-size: 40px;
	margin: 0;
	padding-top: 150px;
}
.colorWhite{
    color:white !important;    
}
.navbar-inverse .navbar-nav>li>a{
    color: white;
}
.signinup{
    /*nav-bar*/
 width:100%;
 height:135vh;
 background:grey;
 opacity:0.6;
}


 /* footer css */

 footer {
  background-color: rgba(44, 62, 80, 1.0);

  width: 100%;
  bottom: 0;
  font-weight: lighter;
  color: white;
}
.footerHeader{
  width:100%;
  padding:1em;
  background-color:rgba(52, 73, 94,1.0);
  text-align:center;
  color:white;
}
footer h3{
  font-weight:lighter;
}

footer iframe {
  width:100%;
  position:relative;
  height:170px;
}